Y-intercept coding test <br> 

- The attached file contains the historical daily price and volume data from the past few years on a set of stocks

- Please use your most familiar programming language (python preferred) to write a strategy, and backtest it (i.e. to prove your strategy would or would not work if you had run it).

- The performance or outcome of your strategy won’t relate to your performance in our evaluation. But your research process will do.

Please upload your initial version to a github and reply ALL to share the link to us in 3.5 hours.  You may continue to improve the work in following 20 hours.  Please let us know once you finished.

Trading strategy development and backtesting

In [1]:
# Modules to be imported
import pandas as pd

Development

Firstly, import the data file into a dataframe, and do some manipulations to turn the data into its best form

In [28]:
df = pd.read_csv('data.csv').dropna()
# df['date'] = pd.to_datetime(df['date'])
# df = df.sort_values(by='date')
df

         ticker        date        last    volume
0       1332 JT  2013-01-04    169.0987   1464100
1       1332 JT  2013-01-07    166.3266   1783500
2       1332 JT  2013-01-08    166.3266   1759800
3       1332 JT  2013-01-09    165.4026    767800
4       1332 JT  2013-01-10    167.2507   1503100
...         ...         ...         ...       ...
451108  9984 JT  2021-03-15  10370.0000  12041200
451109  9984 JT  2021-03-16  10620.0000  11346000
451110  9984 JT  2021-03-17  10400.0000   9771000
451111  9984 JT  2021-03-18  10220.0000  13941600
451112  9984 JT  2021-03-19   9969.0000  20715700

[451113 rows x 4 columns]

In [64]:
# Initialize a dictionary recording position sizes for different tickers
ticker_list = df['ticker'].unique().tolist()
ticker_pos = {i : 0 for i in ticker_list}
ticker_cash = {i : 100000 for i in ticker_list}
ticker_last = {i : 0 for i in ticker_list}
for i in ticker_list:
    temp_ticker_last = df.loc[df['ticker'] == ticker_list[i]].reset_index().drop('index', axis = 1).iloc[-1, 2]
    ticker_last[i] = temp_ticker_last 
# ticker_pos
# ticker_cash
ticker_last

TypeError: list indices must be integers or slices, not str

In [63]:
i = 5
df.loc[df['ticker'] == ticker_list[i]].reset_index().drop('index', axis = 1).iloc[-1, 2]

4345.0

Basic strategy idea: Trend-following strategy based on "Price x Volume" parameter <br>

Allocate $100,000 for each stock. For every stock, if <br> 
- Close > 5MA and there is enough cash, then long 1 share; 
- Close < 5MA and I hold >= 1 share, then sell 1 share

In [47]:
# Functions
def price_vol_ma (days, dataframe):
    temp = 0
    for i in range(days):
        temp += (dataframe.iloc[i, 2] * dataframe.iloc[i, 3])
    return (temp/days)

In [56]:
ma_days = 5
start_row = ma_days + 1
temp_ticker = ticker_list[0]

temp_df = df.loc[df['ticker'] == temp_ticker].reset_index().drop('index', axis = 1)
last_price = temp_df.iloc[-1, 2]
last_volume = temp_df.iloc[-1, 3]

temp_df
# last_price = temp_df.iloc[-1, 2]
# last_volume = temp_df.iloc[-1, 3]

       ticker        date      last   volume
0     1332 JT  2013-01-04  169.0987  1464100
1     1332 JT  2013-01-07  166.3266  1783500
2     1332 JT  2013-01-08  166.3266  1759800
3     1332 JT  2013-01-09  165.4026   767800
4     1332 JT  2013-01-10  167.2507  1503100
...       ...         ...       ...      ...
2000  1332 JT  2021-03-15  560.0000  1537500
2001  1332 JT  2021-03-16  559.0000  1594200
2002  1332 JT  2021-03-17  561.0000  1328200
2003  1332 JT  2021-03-18  565.0000  1421200
2004  1332 JT  2021-03-19  567.0000  2197500

[2005 rows x 4 columns]

In [ ]:
# Scan through the temp dataframe. Do buy or sells accordingly
# Update the cash position accordingly

In [53]:
asdf = temp_df.iloc[2000:(2000+ma_days),:].reset_index().drop('index', axis = 1)
asdf_ma = price_vol_ma(ma_days, asdf)
asdf_ma

9426639920.0

In [ ]:
asdf =

Backtesting: Performance, parameter and hyperparameter tuning